# Application
www/revision.txt
www/app/plugins/*
!www/app/plugins/.gitkeep
www/app/mu-plugins/*/
www/app/upgrade
www/app/uploads/*
www/app/wflogs/
www/app/ewww
www/app/fonts
!www/app/uploads/.gitkeep

www/app/advanced-cache.php
www/app/object-cache.php
www/app/backup-db
www/app/backups
www/app/blogs.dir
www/app/cache
www/app/wp-cache-config.php
www/app/wp-rocket-config
www/app/languages/wpml

# WordPress
www/wp
www/.htaccess

# Logs
*.log
/log

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor

node_modules

# WP-CLI
wp-cli.local.yml

# System files
*.DS_Store
*[Tt]humbs.db
*.Trashes

#Local
/sql
/public
auth.json
bud.local.config.js

#Wordfence
www/wordfence-waf.php
www/.user.ini

# Editor config
*.sublime-project
*.sublime-workspace
*.code-workspace

# Snyk
.dccache
